body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline;
    margin: 0 15px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.welcome-section {
    padding: 20px;
    text-align: center;
}

.popular-products {
    padding: 20px;
}

.popular-products h3 {
    text-align: center;
}

.products-slider {
    display: flex;
    overflow-x: auto; /* Позволяет прокручивать по горизонтали */
    scroll-snap-type: x mandatory; /* Добавляем прокрутку с захватом */
}

.products-slider_1 {
	display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    overflow-y: auto; 
    padding: 10px; /* Добавляем отступы для содержимого */
    border: 1px solid #ccc; /* Добавляем рамку для видимости */
}

.image-container {
    position: relative; /* Чтобы дочерние элементы могли быть относительно этого контейнера */
    display: inline-block; /* Чтобы контейнер не занимал всю ширину */	
	scroll-snap-align: start;
	margin-right: 15px;
	
}

.image {
    width: 100%;
    height: 450px; 
    display: block; /* Убирает лишние пробелы снизу картинки */
}

.image_1 {
    width: 200 px;
    height: 450px; 
    display: block; /* Убирает лишние пробелы снизу картинки */
}

.description {
    position: absolute; /* Absolut для overlay */
    bottom: 200px; 
    left: 50%;
    transform: translateX(-50%); /* Центрируем текст и кнопку */
    opacity: 0; /* Скрываем текст и кнопку по умолчанию */
    transition: opacity 0.3s ease; /* Плавный переход для видимости текста и кнопки */
    display: flex; /* Используем Flexbox для центровки */
    flex-direction: column; /* Устанавливаем вертикальную ориентацию */
    align-items: center; /* Центрируем элементы по горизонтали */
}

.image-container:hover .description {
    opacity: 1; /* Показываем текст и кнопку при наведении на контейнер изображения */
}

.image-container p {
    text-align:center
}

/*.description-text {
	background-color: rgba(0, 0, 0, 0.7);
    color: white; 
    margin-bottom: 10px; /* Отступ между текстом и кнопкой */
    /*text-align: center;
}*/

.description-button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    border: none; /* Убираем стандартные границы */
    border-radius: 5px; 
    cursor: pointer; /* Курсор-указатель при наведении на кнопку */
}

/* Дополнительные стили для кнопки при наведении */
.description-button:hover {
    background-color: rgba(0, 0, 0, 0.9); /* Более темный фон */
}

.product-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.product-page h2 {
    margin-bottom: 20px;
}

.product-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-title {
    margin-bottom: 0;
}

.product-image {
    max-width: 300px;

}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-details {
    margin-left: 20px;
    text-align: left;
}

.product-details ul {
    list-style-type: none;
    padding: 0;
}

.product-details li {
    margin-bottom: 5px;
}


.product-description {
    margin-top: 20px;
}